.js-tweet-new {
  margin-bottom: 20px;
}

.user {
  color: #787878;
  font-size: 14px;
}

.page-header {
  color: #55acee;
}

.content {
  font-size: 20px;
}

.js-tweet-add {
  width: 100%;
}

.container {
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-controls {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

body {
  font-family: "ubuntu";
  background-color: #55acee;
}
