template(name="tweetCreate")
  if currentUser
    form(class="js-tweet-new input-symbol")
      div.row
        div.col-md-6
          input(type="text" placeholder="Escribe un tweet")
        div.col-md-6
          button.js-tweet-add.btn.btn-info Twittea!
