template(name="tweetCreate")
  form(class="js-tweet-new input-symbol")
    .row
      .col-md-6
        input(type="text" placeholder="Escribe un tweet")
      .col-md-6
        button(class="btn btn-success" type="submit") Twittea!
